body{
    --gameblack:#2d2a32;
    --gamegold:#ddd92a;
    --gamelightgold:#eae151;
    --gamebrown:#eeefa8;
    --gamewhite:#fafdf6;

    background: var(--gameblack);
    scroll-behavior: smooth;
    font-size:12px !important;
    text-align: justify;
    

}
header{
    margin:0rem 1rem;
   

}
section,footer{
    margin-top: 4rem;
}
/* Navbar */
.logo{
    width: 5rem;
    height: 5rem;
}
.navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
    
margin: 2rem 2rem;
font-size: 1.5rem;
color: var(--gamegold);
font-weight: 700;
}
.navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover,
.navbar .navbar-collapse .navbar-nav .nav-item .active{
    text-transform: none;
    color:var(--gamewhite);
    transition: ease-in 3ms;
}

/* qute div */
.quote-div{
    margin:4rem 0rem;
    color: var(--gamewhite);
    text-align: left;
}
.quote-div h1{
    color: var(--gamebrown);
}
.btn-head .learn{
    margin-right: 2rem;
    margin-top: 2rem;
    color: var(--gamewhite);

}
.btn-head .contact{
    margin-top: 2rem;
    margin-left: 2rem;
    color: var(--gamewhite);
}
/* .btn-head .contact:hover ,.btn-head .learn:hover{
    transition: ease-in 5ms;
    background:var(--gamegold) !important;
} */

.game-div img{
    height: inherit;
    width: inherit;
}
/* title */
.title-div{
    color: var(--gamebrown);
    text-align: center;
    margin-bottom:2rem ;
    
    
}
.title{
    color: var(--gamegold);
    font-size: 3rem;
    margin-bottom: 1rem;
}

.title-div .title-underline{
    width: 10rem;
    background: var(--gamelightgold);
    height: 0.5rem;
    margin:auto;
}
/* carousel */

/* Home */
.descr,.game-div{
    color: var(--gamewhite);
    margin-top: 2rem;
}

/* cards */

.card{
    margin-top:2rem;
}
.card-img-top:hover{
    box-shadow:2px 2px 2px var(--gamegold);
   
}

/* footer */
footer{
   
}
.email-div{
    justify-items: center;
    border:2px solid green;
    margin-bottom:2rem;
}
.pas-div{
    display: flex;
    justify-content: space-evenly;
    color: var(--gamewhite);
    font-size: 12px !important;
}

.about-div div,.support-div div{
    display: flex !important;
    flex-direction: column;
}
.about-div h6 ,.partner-div h6, .support-div h6{
    color: var(--gamegold);
    
}

.foot-underline{
    background: var(--gamegold);
    height:0.2rem;

}
.btn,.cop-div p{
    color: var(--gamewhite);
}
.about-div .btn:hover ,.partner-div .btn:hover, .support-div .btn:hover{
    text-transform:none;
    color:var(--gamebrown);
    transition: 5ms ease;
}
.icon-div{
    margin-left:auto;
    
    justify-content: end !important;
    
}





